/*
/* FOOTER */
footer {
    display: flex;
    justify-content: space-around;
    align-items: content;
    background: linear-gradient(to right, rgba(0, 47, 150, 0.4), rgba(255, 253, 111, 0.4), rgba(0, 225, 255, 0.507));
    font-family: Lato, serif;
}

footer article {
    display: block;
    width: 30%;
    padding: 1rem 2.5rem;
}

footer article h4 {
    margin-top: 0;
    text-align: center;
}

footer .consult {
    text-align: center;
}

footer .consult .logo i {
    margin: 1rem 0.2rem 0 0.2rem;
    border-radius: 50%;
    padding: 0.3rem;
    color: #EEE;
    background: #000;
    font-size: 20px;
}

footer .consult .logo .fa-facebook {
    padding: 0.3rem 0.5rem;
}

footer .links .contacts {
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer .links .contacts a {
    text-decoration: none;
    color: #000;
    display: block;
    font-weight: bold;
    font-size: 16px;
    color: rgb(0, 247, 201);
    text-shadow: 2px 2px 4px rgba(0,0,0, 1);
}

footer .links .contacts a:hover {
    
    padding-left: 0.5rem;
    text-shadow: 2px 2px 4px rgba(0,0,0, 1);
    color: rgb(255, 178, 165);
}

footer .blog div {
    font-weight: bold;
    text-align: center;

}

footer .blog .university {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .blog .university img {
    max-width: 2rem;
    height: auto;
    border-radius: 50%;
    
    background: #FFF;
    font-size: 28px;
}

footer .blog .university span {
    font-size: 24px;
    
}

footer .blog .license {
    font-size: 16px;
    font-weight: bold;
}

@media screen and (max-width: 1500px) {
    footer article h4 {
        font-size: 30px;
    }

    footer article  p {
        font-size: 14px;
    }
}

@media screen and (max-width: 1200px) {
    footer article {
        padding: 1rem 1.5rem;
    }

    footer article h4 {
        font-size: 26px;
    }

    footer .links .contacts a {
        font-size: 14px; 
    }

    footer article  p {
        font-size: 12px;
    }
}

@media screen and (max-width: 1024px) {
    footer article {
        padding: 1rem 1rem;
    }

    footer article h4 {
        font-size: 22px;
    }

    footer .consult .logo i {
        font-size: 16px;
        padding: 0.2rem;
        margin: 0.7rem 0.2rem 0 0.2rem;
    }

    footer .consult .logo .fa-facebook {
        padding: 0.2rem 0.3rem;
    }

    footer .links .contacts a {
        font-size: 12px;
    }

    footer article  p {
        font-size: 10px;
    }
}

@media screen and (max-width: 800px) {
    footer article {
        padding: 1rem 0.5rem;
    }

    footer article h4 {
        font-size: 20px;
    }

    footer .consult .logo i {
        font-size: 14px;
        padding: 0.1rem 0.25rem;
        margin: 0.7rem 0.1rem 0 0.1rem;
    }

    footer .consult .logo .fa-facebook {
        padding: 0.15rem 0.2rem;
    }

    footer .links .contacts a {
        font-size: 10px;
    }

    footer article  p {
        font-size: 8px;
    }
}

@media screen and (max-width: 600px) {
    footer article {
        padding: 1rem 0.2rem;
    }

    footer article h4 {
        font-size: 16px;
    }

    footer .consult .logo i {
        font-size: 12px;
        padding: 0.1rem 0.25rem;
        margin: 0;
    }

    footer .consult .logo .fa-facebook {
        padding: 0.15rem 0.2rem;
    }
}

@media screen and (max-width: 500px) {
    footer {
        flex-direction: column;
    }

    footer article {
        width: 100%;
        padding: 1rem 3rem;
    }

    footer article h4 {
        font-size: 20px;
    }

    footer .links .contacts a {
        font-size: 14px; 
    }

    footer .consult .logo i {
        font-size: 14px;
        padding: 0.2rem 0.3rem;
        margin: 0;
    }

    footer .consult .logo .fa-facebook {
        padding: 0.2rem 0.3.5rem;
    }

    footer article  p {
        font-size: 10px;
    }
}