
.new-design {
    margin: 0;
    padding: 4em 0;
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 15l15 15H0V15zM15 0l15 15V0H15z' fill='%239C92AC' fill-opacity='0.18' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.inner-post:before, .menu, .caption {
    position: absolute;
}

.inner-post {
    position: relative;
    box-sizing: border-box;
    width: 30em;
    height: 18.9em;
    margin: 50px auto;
    padding-left: 0;
    overflow: hidden;
    border: 4px solid #000;
    box-shadow: 30px 25px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.7s;
}

.inner-post:before {
    content: 'my blog image design';
    color: #000;
    top: 13px;
    right: 13px;
    padding: 10px;
    background: white;
    letter-spacing: 2px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.7s;
}

.inner-post img {
    border: 4px solid #000;
    background-size: cover;
    width: 100%;
}

.menu {
    height: 100%;
    width: 20em;
    top: 0;
    left: -12em;
    margin: 0;
    padding-left: 0;
    background: transparent;
    transition: all 0.45s;
}

.caption {
    background: rgba(0, 247, 201, 0.7);
    height: 100%;
    padding: 15px 20px 0 0;
}

h4 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.4rem;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

h5 {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0;
    padding-left: 13px;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

ul li a {
    margin-top: 0;
    color: #000;
    text-decoration: none;
    padding-left: 0.5rem;
    transition: all 0.3s;
}

.inner-post:hover:before {
    right: -500px;
}

.menu:hover {
    left: 0;
}

ul li a:hover {
    padding-left: 1em;
    font-weight: bold;
    color: rgb(255, 178, 165);
}

.inner-post h4:hover,
.inner-post h5:hover {
    color: rgb(255, 178, 165);
    cursor: pointer;
}

.inner-post h5:hover {
    padding-left: 0.5rem;
}

@media screen and (max-width: 400px) {
    .inner-post {
        width: 100%;
        height: auto;
    }
}