
@import url("forms.css");

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 15l15 15H0V15zM15 0l15 15V0H15z' fill='%239C92AC' fill-opacity='0.18' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.login h1 {
    color: rgb(0, 189, 142);
}

form {
    padding: 4rem 1rem;
}

form fieldset .button {
    padding: 0.5rem 1.2rem;
    border: 1px solid rgb(0, 189, 142);
    border-radius: 0.3rem;
    color: rgb(0, 189, 142);
    cursor: pointer;
    font-weight: bold;
    margin: 2rem 0 0 1rem;
    background: rgba(0, 189, 142, 0.1);
    text-shadow: 1px 1px 1px rgba(0,0,0, 1);
    box-shadow: 20px 15px rgba(0, 0, 0, 0.4);
}

form fieldset .button:hover { 
    color: rgb(255,153,107);
    border: 1px solid rgb(255,153,107);
    text-shadow: 1px 1px 1px rgba(0,0,0, 1);
    background: rgba(255,153,107, 0.3);
    box-shadow: 10px 5px rgba(255, 153, 107, 0.6);
}


@media screen and (max-width: 1300px) {
    .login { align-items: unset; }

    form {
        padding-left: 10em;
        width: 80%;
    }
}

@media screen and (max-width: 1024px) {
    form {
        padding: 3em 6em;
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    form {
        padding: 3em;
        width: 100%;
    }
}


@media screen and (max-width: 420px) {
    form {
        padding: 3em 0.3em;
        width: 100%;
    }

    fieldset {
        padding: 0;
    }

    .input {
        flex: 0 2 auto;
        padding: 0;
        margin: 0;
    }
}
