<footer>
    
    <article class="consult">
        <h4>Consulting</h4>
        <div class="avenue">
            <p><i class="fas fa-map-marker-alt"></i>&nbsp; Tintqva Avenue 15-17</p>
            <p>Sofia, 1113 BG.</p>
        </div>
        <div class="week">
            <p><i class="far fa-clock"></i>&nbsp; Mon - Sat 9.00 - 22.00 </p>
            <p>Sunday CLOSED</p>
        </div>
        <div class="phone">
            <p><i class="fas fa-phone"></i>&nbsp; 02 047 557 Free call</p>
        </div>
        <div class="logo">
            <span><i class="fab fa-facebook"></i></span>
            <span><i class="fab fa-twitter"></i></span>
            <span><i class="fab fa-linkedin-in"></i></span>
            <span><i class="fab fa-youtube"></i></span>
            <span><i class="fab fa-github"></i></span>
            <span><i class="fab fa-gitlab"></i></span>
        </div>
    </article>
    <article class="links">
            <h4>Contact Links</h4>
            <div class="contacts">
                <a href="{{ site.baseurl }}/about">About</a>
                <a href="{{ site.baseurl }}/contacts">Contacts</a>
                <a href="#">Services</a>
                <a href="#">Careers</a>
                <a href="#">Testing</a>
                <a href="{{ site.baseurl }}/support">Support</a>
            </div>
    </article>
    <article class="blog">
            <h4>For us</h4>
        <div>
            <p>Proudly hosted by  GitHub.</p>
        </div>
        <div class="university">
            <img src="{{ site.baseurl }}/assets/SoftUni-Logo.png" alt="logo"/>
            <span> &nbsp; SoftUni</span>
        </div>
        <div>
            <p>&copy; 2018 My Blog All right reserved!</p>
        </div>
        <div class="license">
                <p><i class="fa fa-balance-scale"></i>&nbsp; MIT License.</p>
            </div>
    </article>
</footer>