<header class="c-header">
    <h1 class="c-header-h1">Why Choose Us</h1>
    <div class="c-header-container">
        <a class="c-header-blog-link c-header-blog-1" href="#">
            <article class="u-header-card">
                <h2 class="e-h2">Raw Spreads</h2>
                <p class="e-p">OpenCollective is a service that makes it easy for open source projects to receive funding from individuals and companies alike.</p>
            </article>
        </a>
        <a class="c-header-blog-link c-header-blog-2" href="#">
            <article class="u-header-card">
                <h2 class="e-h2">Dealing Desk</h2>
                <p class="e-p">With Consulting WP you'll get no re-quotes, no dealer intervention and fair order execution form individuals and companies bussines alike this blog.</p>
            </article>
        </a>
        <a class="c-header-blog-link c-header-blog-3" href="#">
            <article class="u-header-card">
                <h2 class="e-h2">State of Art</h2>
                <p class="e-p">Open source developers being paid for the work they do is a rare sight. Most open source software is effectively the result of hundreds.</p>
            </article>
        </a>
    </div>
</header>
