<section class="new-design">
        <div class="inner-post">
                <div class="menu">
                        <div class="caption">
                            <h4>Picture</h4>
                            <h5>Audio</h5>
                            <ul>
                               <li><a href="#">Contrast</a></li>
                               <li><a href="#">Bright</a></li>
                               <li><a href="#">Color</a></li>
                            </ul>
                            <h5>Advanced</h5>
                            <ul>
                               <li><a href="#">System</a></li>
                               <li><a href="#">Ergonomics</a></li>
                               <li><a href="#">Eco</a></li>
                            </ul>
                        </div>
                </div>
                <img src="{{ site.baseurl }}/assets/pexels-photo-1327373.jpeg" />
        </div>
</section>


