<div class="c-nav-under">
	<div class="c-nav-under-container c-nav-under-container-1">
		<h3 class="c-nav-under-title">SOCIAL PRICING</h3>
		<div class="c-nav-under-title-line"></div>
		<ul class="c-nav-under-list">
			<li class="c-nav-under-item">
				<a class="c-nav-under-link" href="#">Social Media Services</a>
				<i class="fas fa-caret-right"></i>
			</li>
			<li class="c-nav-under-item">
				<a class="c-nav-under-link" href="#">Social Media Design</a>
				<i class="fas fa-caret-right"></i>
			</li>
			<li class="c-nav-under-item">
				<a class="c-nav-under-link" href="#">Social Advertising Services</a>
				<i class="fas fa-caret-right"></i>
			</li>
			<li class="c-nav-under-item">
				<a class="c-nav-under-link" href="#">YouTube Advertising Services</a>
				<i class="fas fa-caret-right"></i>
			</li>
		</ul>
	</div>

	<div class="c-nav-under-container c-nav-under-container-2">
		<h3 class="c-nav-under-title">DESIGN PRICING</h3>
		<div class="c-nav-under-title-line"></div>
		<ul class="c-nav-under-list">
			<li class="c-nav-under-item">
				<a class="c-nav-under-link" href="#">Landing Page Design</a>
				<i class="fas fa-caret-right"></i>
			</li>
			<li class="c-nav-under-item">
				<a class="c-nav-under-link" href="#">Rapid Web Design</a>
				<i class="fas fa-caret-right"></i>
			</li>
			<li class="c-nav-under-item">
				<a class="c-nav-under-link" href="#">User Experience</a>
				<i class="fas fa-caret-right"></i>
			</li>
			<li class="c-nav-under-item">
				<a class="c-nav-under-link" href="#">Website Redesign</a>
				<i class="fas fa-caret-right"></i>
			</li>
		</ul>
	</div>

	<div class="c-nav-under-container c-nav-under-container-3">
		<h3 class="c-nav-under-title">ANALYTICS PRICING</h3>
		<div class="c-nav-under-title-line"></div>
		<ul class="c-nav-under-list">
			<li class="c-nav-under-item">
				<a class="c-nav-under-link" href="#">Website call tracking</a>
				<i class="fas fa-caret-right"></i>
			</li>
			<li class="c-nav-under-item">
				<a class="c-nav-under-link" href="#">Custom Reporting</a>
				<i class="fas fa-caret-right"></i>
			</li>
			<li class="c-nav-under-item">
				<a class="c-nav-under-link" href="#">Page Speed Optimization</a>
				<i class="fas fa-caret-right"></i>
			</li>
			<li class="c-nav-under-item">
				<a class="c-nav-under-link" href="#">Lead Management Solutions</a>
				<i class="fas fa-caret-right"></i>
			</li>
		</ul>
	</div>
</div>