

<navigation class="c-navigation">
    <div class="c-navigation-logo-container">
        
        <a href="{{ site.baseurl }}/">
            <img class="c-navigation-logo-img" src="{{ site.baseurl }}/assets/blog-logo.png" alt="logo"/>
        </a>
        <button class="fas fa-bars c-navigation-btn-bars"></button>
    </div>

    
    <ul class="c-navigation-list">
        <li class="c-navigation-item">
            <a class="c-navigation-link" href="{{ site.baseurl }}/about">About Us</a>
            <span class="c-navigation-hover-border"></span>
        </li>
        <li class="c-navigation-item">
            <a class="c-navigation-link" href="{{ site.baseurl }}/contacts">Contacts</a>
            <span class="c-navigation-hover-border"></span>
        </li>
        <li class="c-navigation-item">
            <a class="c-navigation-link" href="{{ site.baseurl }}/gallery">Gallery</a>
            <span class="c-navigation-hover-border"></span>
        </li>
        <li class="c-navigation-item">
            <a class="c-navigation-link" href="{{ site.baseurl }}/gallery">Products <i class="fas fa-angle-down"></i></a>
            <span class="c-navigation-hover-border"></span>
        </li>
        <li class="c-navigation-item">
            <a class="c-navigation-link" href="{{ site.baseurl }}/sign-in">Sign in</a>
            <span class="c-navigation-hover-border"></span>
        </li>
    </ul>

    <div class="c-toastr">
        <div class="c-toastr-container">
            <h2 class="c-toastr-title"></h2>
            <div>
                <p class="c-toastr-content"></p>
                <p class="c-toastr-content"></p>
            </div>
            <div class="c-toastr-icons"></div>
        </div>
    </div>
</navigation>