
.c-gallery {
	width: 100%;
	padding: 10% 0;

	.u-header-container {
		width: 120px;
	}

	&-main-container {
		width: 100%;
		padding: 10% 0;
		display: grid;
	
		@include for-phone-only {
			grid-template-columns: 100%;
			grid-template-rows: 400px auto;
		}

		@include for-tablet-portrait-up {
			grid-template-columns: 33.33% 33.33% 33.33%;
			grid-template-rows: 600px auto;
	
		}

		@include for-tablet-landscape-up {
			grid-template-columns: 200px 1fr;
			grid-template-rows: 660px;
	
		}
	}

	&-small-image-container {
		padding: 0;
		border: 2px solid $primary-color;
		background-color: $primary-color;

		@include for-phone-only {
			width: 100%;
			grid-column: 1 / 2;
			grid-row: 2 / 3;
		}

		@include for-tablet-portrait-up {
			width: 100%;
			grid-column: 2 / 3;
			grid-row: 2 / 3;
		}

		@include for-tablet-landscape-up {
			width: 200px;
			grid-column: 1 / 2;
			grid-row: 1 / 2;
		}
	}

	&-small-img {
		cursor: pointer;
		width: 100%;
	}

	&-big-img-container {
		width: 100%;
		position: relative;

		@include for-phone-only {
			grid-column: 1 / 2;
			grid-row: 1 / 2;
			height: 100%;
		}

		@include for-tablet-portrait-up {
			grid-column: 1 / 4;
			grid-row: 1 / 2;
			height: 100%;
		}

		@include for-tablet-landscape-up {
			grid-column: 2 / 3;
			grid-row: 1 / 2;
		}
	}

	&-figure-container {
		display: none;
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		transition: all ease-out 0.4s;
	}

	&-figure-img {
		cursor: pointer;
		width: 100%;
		z-index: -1;

		@include for-phone-only {
			height: 300px;
		}

		@include for-tablet-portrait-up {
			height: 500px;
		}

		@include for-tablet-landscape-up {
			height: 600px;
		}

		transition: all ease-out 0.4s;
	}

	.o-h4,
	.o-p {
		text-align: center;
	}

}