<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} - {% endif %} My Blog</title>
    <link rel="stylesheet" href="{{ home.baseurl }}/css/styles.css" type="text/css" />
</head>
<body class="{% if page.type %}{{page.type}} {% endif %}{% if page.title %}{{ page.title | slugify }}{% else %}home{% endif %}">
        {% include header.html %}
        
        {% if page.title != 'Gallery Blog' %}
            {% include choose.html %}
        {% endif %}

        {% include middle.html %}
        <main>
            {{ content }}
        </main>
        

        {% include footer.html %}
    
</body>
</html>
