<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} - {% endif %} My Blog</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css" type="text/css" />
</head>
<body>
        {% include header.html %}

        {% include choose.html %}

        {% include middle.html %}

        {% include inner-post.html %}

        {{ content }}

        {% include footer.html %}
</body>
</html>